In [1]:
from astropy.io import ascii
import sys

In [2]:
table=ascii.read('../source/pipe.csv', format='csv')

In [3]:
print(table)

Right Left Default Center
----- ---- ------- ------
   12   12      12     12
  123  123     123    123
    1    1       1      1

In [4]:
ascii.write(table, sys.stdout, format='aastex')

\begin{deluxetable}{cccc}
\tablehead{\colhead{Right} & \colhead{Left} & \colhead{Default} & \colhead{Center}}
\startdata
12 & 12 & 12 & 12 \\
123 & 123 & 123 & 123 \\
1 & 1 & 1 & 1
\enddata
\end{deluxetable}

In [5]:
ascii.write(table, sys.stdout, format='basic')

Right Left Default Center
12 12 12 12
123 123 123 123
1 1 1 1

In [6]:
ascii.write(table, sys.stdout, format='commented_header')

# Right Left Default Center
12 12 12 12
123 123 123 123
1 1 1 1

In [7]:
ascii.write(table, sys.stdout, format='csv')

Right,Left,Default,Center
12,12,12,12
123,123,123,123
1,1,1,1

In [8]:
ascii.write(table, sys.stdout, format='ecsv')

# %ECSV 0.9
# ---
# datatype:
# - {name: Right, datatype: int64}
# - {name: Left, datatype: int64}
# - {name: Default, datatype: int64}
# - {name: Center, datatype: int64}
Right Left Default Center
12 12 12 12
123 123 123 123
1 1 1 1

In [9]:
ascii.write(table, sys.stdout, format='fixed_width')

| Right | Left | Default | Center |
|    12 |   12 |      12 |     12 |
|   123 |  123 |     123 |    123 |
|     1 |    1 |       1 |      1 |

In [10]:
ascii.write(table, sys.stdout, format='fixed_width_no_header')

|  12 |  12 |  12 |  12 |
| 123 | 123 | 123 | 123 |
|   1 |   1 |   1 |   1 |

In [11]:
ascii.write(table, sys.stdout, format='fixed_width_two_line')

Right Left Default Center
----- ---- ------- ------
   12   12      12     12
  123  123     123    123
    1    1       1      1

In [12]:
ascii.write(table, sys.stdout, format='html')

<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="text/html;charset=UTF-8" http-equiv="Content-type"/>
 </head>
 <body>
  <table>
   <thead>
    <tr>
     <th>Right</th>
     <th>Left</th>
     <th>Default</th>
     <th>Center</th>
    </tr>
   </thead>
   <tr>
    <td>12</td>
    <td>12</td>
    <td>12</td>
    <td>12</td>
   </tr>
   <tr>
    <td>123</td>
    <td>123</td>
    <td>123</td>
    <td>123</td>
   </tr>
   <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
   </tr>
  </table>
 </body>
</html>

In [13]:
ascii.write(table, sys.stdout, format='ipac')

|Right|Left|Default|Center|
| long|long|   long|  long|
|     |    |       |      |
| null|null|   null|  null|
    12   12      12     12
   123  123     123    123
     1    1       1      1

In [14]:
ascii.write(table, sys.stdout, format='latex')

\begin{table}
\begin{tabular}{cccc}
Right & Left & Default & Center \\
12 & 12 & 12 & 12 \\
123 & 123 & 123 & 123 \\
1 & 1 & 1 & 1 \\
\end{tabular}
\end{table}

In [15]:
ascii.write(table, sys.stdout, format='no_header')

12 12 12 12
123 123 123 123
1 1 1 1

In [16]:
ascii.write(table, sys.stdout, format='rdb')

Right	Left	Default	Center
N	N	N	N
12	12	12	12
123	123	123	123
1	1	1	1

In [17]:
ascii.write(table, sys.stdout, format='rst')

===== ==== ======= ======
Right Left Default Center
===== ==== ======= ======
   12   12      12     12
  123  123     123    123
    1    1       1      1
===== ==== ======= ======

In [18]:
ascii.write(table, sys.stdout, format='tab')

Right	Left	Default	Center
12	12	12	12
123	123	123	123
1	1	1	1