In [1]:
import csv
from tabulate import tabulate
# from io import StringIO

In [2]:
with open('../source/pipe.csv', newline='') as f:
    table1 = list(csv.reader(f))

In [3]:
print(table1)

[['Right', 'Left', 'Default', 'Center'], ['12', '12', '12', '12'], ['123', '123', '123', '123'], ['1', '1', '1', '1']]

In [4]:
print(tabulate(table1,headers="firstrow", tablefmt="plain"))

  Right    Left    Default    Center
     12      12         12        12
    123     123        123       123
      1       1          1         1

In [5]:
print(tabulate(table1,headers="firstrow", tablefmt="simple"))

  Right    Left    Default    Center
-------  ------  ---------  --------
     12      12         12        12
    123     123        123       123
      1       1          1         1

In [6]:
print(tabulate(table1,headers="firstrow", tablefmt="grid"))

+---------+--------+-----------+----------+
|   Right |   Left |   Default |   Center |
+=========+========+===========+==========+
|      12 |     12 |        12 |       12 |
+---------+--------+-----------+----------+
|     123 |    123 |       123 |      123 |
+---------+--------+-----------+----------+
|       1 |      1 |         1 |        1 |
+---------+--------+-----------+----------+

In [7]:
print(tabulate(table1,headers="firstrow", tablefmt="fancy_grid"))

╒═════════╤════════╤═══════════╤══════════╕
│   Right │   Left │   Default │   Center │
╞═════════╪════════╪═══════════╪══════════╡
│      12 │     12 │        12 │       12 │
├─────────┼────────┼───────────┼──────────┤
│     123 │    123 │       123 │      123 │
├─────────┼────────┼───────────┼──────────┤
│       1 │      1 │         1 │        1 │
╘═════════╧════════╧═══════════╧══════════╛

In [8]:
print(tabulate(table1,headers="firstrow", tablefmt="pipe"))

|   Right |   Left |   Default |   Center |
|--------:|-------:|----------:|---------:|
|      12 |     12 |        12 |       12 |
|     123 |    123 |       123 |      123 |
|       1 |      1 |         1 |        1 |

In [9]:
print(tabulate(table1,headers="firstrow", tablefmt="orgtbl"))

|   Right |   Left |   Default |   Center |
|---------+--------+-----------+----------|
|      12 |     12 |        12 |       12 |
|     123 |    123 |       123 |      123 |
|       1 |      1 |         1 |        1 |

In [10]:
print(tabulate(table1,headers="firstrow", tablefmt="jira"))

||   Right ||   Left ||   Default ||   Center ||
|      12 |     12 |        12 |       12 |
|     123 |    123 |       123 |      123 |
|       1 |      1 |         1 |        1 |

In [11]:
print(tabulate(table1,headers="firstrow", tablefmt="psql"))

+---------+--------+-----------+----------+
|   Right |   Left |   Default |   Center |
|---------+--------+-----------+----------|
|      12 |     12 |        12 |       12 |
|     123 |    123 |       123 |      123 |
|       1 |      1 |         1 |        1 |
+---------+--------+-----------+----------+

In [12]:
print(tabulate(table1,headers="firstrow", tablefmt="rst"))

=======  ======  =========  ========
  Right    Left    Default    Center
=======  ======  =========  ========
     12      12         12        12
    123     123        123       123
      1       1          1         1
=======  ======  =========  ========

In [13]:
print(tabulate(table1,headers="firstrow", tablefmt="mediawiki"))

{| class="wikitable" style="text-align: left;"
|+ <!-- caption -->
|-
! align="right"|   Right !! align="right"|   Left !! align="right"|   Default !! align="right"|   Center
|-
| align="right"|      12 || align="right"|     12 || align="right"|        12 || align="right"|       12
|-
| align="right"|     123 || align="right"|    123 || align="right"|       123 || align="right"|      123
|-
| align="right"|       1 || align="right"|      1 || align="right"|         1 || align="right"|        1
|}

In [14]:
print(tabulate(table1,headers="firstrow", tablefmt="moinmoin"))

||<style="text-align: right;"> '''   Right ''' ||<style="text-align: right;"> '''   Left ''' ||<style="text-align: right;"> '''   Default ''' ||<style="text-align: right;"> '''   Center ''' ||
||<style="text-align: right;">       12  ||<style="text-align: right;">      12  ||<style="text-align: right;">         12  ||<style="text-align: right;">        12  ||
||<style="text-align: right;">      123  ||<style="text-align: right;">     123  ||<style="text-align: right;">        123  ||<style="text-align: right;">       123  ||
||<style="text-align: right;">        1  ||<style="text-align: right;">       1  ||<style="text-align: right;">          1  ||<style="text-align: right;">         1  ||

In [15]:
print(tabulate(table1,headers="firstrow", tablefmt="html"))

<table>
<thead>
<tr><th style="text-align: right;">  Right</th><th style="text-align: right;">  Left</th><th style="text-align: right;">  Default</th><th style="text-align: right;">  Center</th></tr>
</thead>
<tbody>
<tr><td style="text-align: right;">     12</td><td style="text-align: right;">    12</td><td style="text-align: right;">       12</td><td style="text-align: right;">      12</td></tr>
<tr><td style="text-align: right;">    123</td><td style="text-align: right;">   123</td><td style="text-align: right;">      123</td><td style="text-align: right;">     123</td></tr>
<tr><td style="text-align: right;">      1</td><td style="text-align: right;">     1</td><td style="text-align: right;">        1</td><td style="text-align: right;">       1</td></tr>
</tbody>
</table>

In [16]:
print(tabulate(table1,headers="firstrow", tablefmt="latex"))

\begin{tabular}{rrrr}
\hline
   Right &   Left &   Default &   Center \\
\hline
      12 &     12 &        12 &       12 \\
     123 &    123 &       123 &      123 \\
       1 &      1 &         1 &        1 \\
\hline
\end{tabular}

In [17]:
print(tabulate(table1,headers="firstrow", tablefmt="latex_booktabs"))

\begin{tabular}{rrrr}
\toprule
   Right &   Left &   Default &   Center \\
\midrule
      12 &     12 &        12 &       12 \\
     123 &    123 &       123 &      123 \\
       1 &      1 &         1 &        1 \\
\bottomrule
\end{tabular}

In [18]:
print(tabulate(table1,headers="firstrow", tablefmt="textile"))

|_.    Right |_.   Left |_.   Default |_.   Center |
|>.      12  |>.     12 |>.        12 |>.       12 |
|>.     123  |>.    123 |>.       123 |>.      123 |
|>.       1  |>.      1 |>.         1 |>.        1 |